.container {
  display: flex;
  justify-content: start;
  align-items: start;
}

.sidemenu {
  width: 15%;
  height: 100vh;
  background-color: rgb(99, 76, 121);
  position: fixed;
}

.body {
  background-color: antiquewhite;
  width: 88%;
  height: 100vh;
  margin-left: 14.2rem;
  padding: 1rem;
}

.table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  margin-top: 10px;
}

.tablehead {
  background-color: cornflowerblue;
  color: whitesmoke;
  text-transform: capitalize;
}

.th {
  border: 1px solid black;
  padding: 15px 0px;
}

.image {
  width: 100px;
  height: 100px;
  border-radius: 1rem;
}

.tablecell {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.td {
  width: auto;
  text-align: center;
  border: 1px solid black;
}


