.cat-items {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  justify-content: center;
  margin-top: 20px;
}

.cat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
  gap: 10px;
}

.cat-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.cat-img:hover {
    transform: scale(1.1);
    transition: ease-in-out 0.2s;
}

.cat-item li {
  list-style: none;
}
