.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: blue;
  padding: 0px 2rem;
  height: 5rem;
  box-shadow: 2px 0px 2px 0px 0.2px;
  color: white;
  /* position: none; */
  z-index: 1;
}

.nav-container.admin {
  background-color: cornflowerblue !important;
  position: fixed;
  top: 0;
  width: 97%;
}

.nav-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.hamburger {
  display: none;
}

.hamburger:hover {
  cursor: pointer;
  color: white;
}
.nav-list {
  display: flex;
  gap: 2rem;
  list-style: none;
  font-size: 1.3rem;
}

.list-item {
  cursor: pointer;
  text-transform: capitalize;
}

.list-item:hover {
  color: gray;
  opacity: 1;
}

.list-item:hover {
  color: white;
}

@media screen and (min-width: 641px) and (max-width: 768px) {
  .nav-container {
    height: auto;
    flex-direction: column;
    padding: 2rem 0px;
    gap: 20px;
  }

  .nav-header {
    width: 90%;
    justify-content: space-between;
    gap: 10px;
  }
  .nav-list {
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
  }
  .nav-list.show {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}
/* for extra small screens */
@media screen and (max-width: 640px) {
  .nav-container {
    height: auto;
    flex-direction: column;
    padding: 2rem 0px;
    gap: 20px;
  }

  .nav-header {
    width: 90%;
    justify-content: space-between;
    gap: 10px;
  }
  .nav-list {
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
  }

  .hamburger {
    display: block;
    position: relative;
    cursor: pointer;
  }

  .nav-list.show {
    display: flex;
  }

  /* icon animation */

  .icon {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: rotate(90deg) scale(0.8);
  }

  .icon.show {
    opacity: 1;
    transform: rotate(0deg) scale(1);
    z-index: 1;
  }

  .icon.hide {
    opacity: 0;
    transform: rotate(-90deg) scale(0.8);
    z-index: 0;
  }
}

/* Modal Styling For Sign Up and Sign In */

.m-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0px;
  overflow-y: auto;
}

.m-container.signup {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 640px) {
  .m-container.signup {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (min-width: 641px) and (max-width: 1024px) {
  .m-container.signup {
    grid-template-columns: repeat(1, 1fr);
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: 100%;
  position: relative;
}

.input-container input {
  padding: 0.6rem 0.2rem;
  font-size: 1rem;
  border: 2px solid black;
  border-radius: 0.2rem;
}

/* .input-container label {
  position: absolute;
  top: 10px;
  left: 10px;
}

.input-container > input:focus + label {
  top: 0px;
} */

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 10px 0px;
}

.close,
.submit {
  width: 10rem;
  height: 2.7rem;
  border: none;
  font-size: 1rem;
  box-shadow: 0px 0px 1px 0px;
  border-radius: 0.1rem;
  cursor: pointer;
}

.close {
  background-color: red;
  color: white;
}

.submit {
  background-color: green;
  color: white;
}
