.container {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0.4rem 0rem;
  font-size: 1.2rem;
}

.listitems {
  display: flex;
  flex-direction: column;
  /* gap: 1re; */
  list-style: none;
  width: 100%;
}

.listitem {
  cursor: pointer;
  padding: 0.6rem 0px;
  padding-left: 1rem;
  color: white;
}

.listitem:hover {
  background-color: rgb(14, 93, 237);
  width: auto;
}

.listitem.active {
  background-color: rgb(14, 93, 237);
}

.clickable {
  transition: transform 0.05s ease-in, transform 0.15s ease-out;
  cursor: pointer;
}

.clickable:active {
  transform: scale(0.95); /* Slightly shrinks when clicked */
}
