.container {
  width: 100%;
  box-shadow: var(--shadow);
  background-color: white;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 10px 10px;
  box-sizing: border-box;
  font-size: 1.2rem;
  color: black;
  border-radius: 2px;
}

.listitem {
  padding: 10px 10px;
  cursor: pointer;
  border-radius: 0.2rem;
}

.listitem:hover {
  background-color: rgb(78, 78, 195);
}

.active {
  background-color: rgb(78, 78, 195);
  border-radius: 0.2rem;
  color: white;

}

@media screen and (max-width: 640px) {
  .container {
    flex-direction: row;
    width: 100%;
    justify-content: center;
    padding: 5px;
  }

  .listitem {
    padding: 3px;
    width: 100%;
    text-align: center;
  }
}

@media screen and (min-width: 641px) and (max-width: 768px) {
}
