.container {
  display: flex;
  justify-content: start;
  align-items: start;
}

.sidemenu {
  width: 15%;
  height: 100vh;
  background-color: cornflowerblue;
  position: fixed;
}

.body {
  background-color: antiquewhite;
  width: 88%;
  height: 100vh;
  margin-left: 14.2rem;
  padding: 1rem;
}
