.container {
  display: grid;
  grid-template-columns: 15% 85%;
  box-sizing: border-box;
  padding: 0px 20px;
}

.filters {
  border-right: 1px solid grey;
}

.product-list.list {
  padding: 1rem 2rem;
}

/* product list by category page starts */

.category-product-list {
  display: grid;
  grid-template-columns: repeat(5, minmax(250px, 1fr));
  gap: 1rem;
  padding: 1rem 2rem;
  max-width: 100%;
  box-sizing: border-box;
}

.list-products {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  gap: 1rem;
  padding: 1rem;
  max-width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 640px) {
  .category-product-list {
    grid-template-columns: repeat(1, minmax(250px, 1fr));
  }

  .list-products {
    grid-template-columns: repeat(1, minmax(250px, 1fr));
  }
}

@media screen and (min-width: 641px) and (max-width: 768px) {
  .category-product-list {
    grid-template-columns: repeat(1, minmax(250px, 1fr));
  }
  .list-products {
    grid-template-columns: repeat(1, minmax(250px, 1fr));
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .category-product-list {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
  .list-products {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
}
@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .category-product-list {
    grid-template-columns: repeat(4, minmax(250px, 1fr));
  }
  .list-products {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
  }
}

/* product detail page */

.pd-container {
  width: 100%;
  display: flex;
  gap: 10px;
  padding: 0px 20px;
}
.pd-left {
  box-sizing: border-box;
  padding: 1rem;
}
.pd-left img,
video {
  padding: 1rem 2rem;
  width: 500px;
  height: 500px;
}

.pd-image-container {
  position: relative;
  box-sizing: border-box;
  /* padding: 1rem; */
  box-shadow: 0px 0px 0.05rem 0px;
}

.arrows {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  top: 35%;
  padding: 0px 15px;
  box-sizing: border-box;
}
.left,
.right {
  height: 100px;
  width: 36px;
  border: none;
  background-color: white;
  box-shadow: 0px 0px 0.05rem 0px;
  border-radius: 0.2rem;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: transform all 0.2s ease-in-out;
}

.left:hover,
.right:hover {
  transform: scale(1.05);
}
.left.stop-cursor,
.right.stop-cursor {
  cursor: not-allowed;
  background-color: gainsboro;
  transform: scale(1);
}
.pd-body {
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.pd-body > h1 {
  font-size: 1.5rem;
}

.pd-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  position: relative;
  font-size: 1.2rem;
}

.pd-price > p > span {
  color: rgb(167, 165, 165);
  /* font-size: 1rem; */
  /* position: absolute;
  top: 0.3rem;
  right: 2.7rem; */
}

.pd-price > p:first-child {
  font-weight: bold;
  font-size: 1.5rem;
}

.pd-price > p:nth-child(2) {
  font-weight: bold;
}

.pd-price + p {
  margin-top: 30px;
  font-weight: normal;
}

.price-text {
  display: flex;
  gap: 10px;
  color: rgb(167, 165, 165);
}

.discount {
  color: var(--secondary-color) !important;
}

.rating-review {
  display: flex;
  gap: 10px;
  justify-content: start;
  align-items: center;
  color: gray;
}

.address-container {
  font-size: 0.6rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.address-body {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.change {
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 3px;
  width: 10%;
  height: 30px;
  cursor: pointer;
}

.search {
  width: 97%;
  box-sizing: border-box;
  padding: 10px;
  font-size: 1rem;
}

.address {
  border: none;
  font-size: 1.1rem;
  border-bottom: 2px solid var(--secondary-color);
  padding: 3px;
  width: 30%;
  outline: none;
}

.rating {
  background-color: var(--secondary-color);
  color: white;
  padding: 3px;
  border-radius: 10px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.cta {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.cta-b1,
.cta-b2 {
  width: 250px;
  height: 50px;
  box-shadow: 0px 0px 0.05rem 0px;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 600;
  font-size: medium;
  color: white;
}

.cta-b1 {
  background-color: var(--extra-light);
  border: var(--extra-light);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}
.cta-b2 {
  background-color: var(--secondary-color);
  border: var(--secondary-color);
}

.offers,
.highlights,
.specifications,
.description {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.offers > h1,
.highlights > h1,
.specifications > h1,
.description > h1 {
  font-size: 1.2rem;
}

.header,
.footer,
.body {
  margin: 10px 0px;
  box-sizing: border-box;
}

.body {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.subbody {
  display: flex;

  gap: 1rem;
  justify-content: start;
  align-items: center;
}

.modeName {
  text-transform: uppercase;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.payNow,
.cancel {
  width: 150px;
  height: 32px;
  border: none;
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 0.22rem;
  cursor: pointer;
  /* font-family: Roboto sans-serif; */
}

.payNow {
  background-color: var(--secondary-color);
  color: white;
}

.icon {
  color: var(--secondary-color);
}

input[type="radio"]:checked {
  accent-color: var(--secondary-color); /* Tailwind's emerald-500 */
}
.search-container {
  padding: 10px 10px;
}
.searchInput {
  padding: 10px;
  width: 90%;
  outline-color: var(--secondary-color);
  font-size: 1rem;
}

.review-card {
  display: flex;
  flex-direction: column;
  gap: 2px;
  border-bottom: 2px solid white;
  padding: 10px 3px;
}

.review-container {
  padding: 10px 10px;
}

.review-body {
  /* border: 1px solid gray; */
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  border-radius: 3px;
  background-color: var(--extra-light);
}

.review-star {
  background-color: var(--secondary-color);
  color: white;
  padding: 2px;
  width: 3%;
  /* max-width: 20%; */
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  /* padding-top: 2px; */
}

.address-list {
  overflow-y: auto;
  max-height: 300px;
  padding-right: 8px;
  margin-top: 1rem;
}
.card {
  width: 100%;
  /* background-color: rgb(199, 199, 240); */
  padding: 10px;
  box-sizing: border-box;
  margin-top: 10px;
  font-size: 1rem;
  border: 1px solid gray;
  border-radius: 0.2rem;
  box-shadow: 0px 0.025rem 0.06rem 0px;
  color: black;
  cursor: pointer;
}

.card p {
  color: black;
}

.span {
  font-style: italic;
  font-size: 1rem;
  background-color: var(--secondary-color);
  padding: 3px;
  width: 20%;
  border-radius: 10%;
  color: white;
  font-weight: normal;
}

.headersection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.act {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 70px;
  justify-content: center;
  align-items: center;
}

.actButtons {
  position: absolute;
  background-color: var(--extra-light);
  right: 40px;
  width: 110px;
  height: inherit;
  top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5;
  border: 1px solid var(--extra-light);
  border-radius: 1px;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 4px;
}

.edit,
.delete,
.default {
  cursor: pointer;
  text-transform: lowercase;
  width: inherit;
  box-sizing: border-box;
  /* padding: 2px 10px; */
  padding-left: 10px;
}

.edit:hover {
  color: white;
  background-color: var(--secondary-color);
}

.delete:hover {
  color: white;
  background-color: var(--secondary-color);
}

.default:hover {
  color: white;
  background-color: var(--secondary-color);
}

.hide {
  display: none;
}

@media screen and (max-width: 640px) {
  .pd-container {
    padding: 0px;
    flex-direction: column;
  }
  .cta {
    flex-direction: column;
  }

  .cta-b1,
  .cta-b2 {
    width: 100%;
  }

  .address {
    width: 70%;
  }
  .change {
    width: 30%;
  }
  .pd-left img,
  video {
    padding: 1rem 2rem;
    width: 100%;
    height: 300px;
  }
}

@media screen and (min-width: 641px) and (max-width: 768px) {
  .pd-container {
    padding: 0px;
    flex-direction: column;
  }
  .cta {
    flex-direction: column;
  }

  .cta-b1,
  .cta-b2 {
    width: 100%;
  }

  .address {
    width: 70%;
  }
  .change {
    width: 30%;
  }
  .pd-left img,
  video {
    padding: 1rem 2rem;
    width: 100%;
    height: 300px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .pd-container {
    padding: 0px;
    flex-direction: column;
  }
  .cta {
    flex-direction: column;
  }

  .cta-b1,
  .cta-b2 {
    width: 100%;
  }

  .address {
    width: 70%;
  }
  .change {
    width: 30%;
  }
  .pd-left img,
  video {
    padding: 1rem 2rem;
    width: 100%;
    height: 300px;
  }
}
/* @media screen and (min-width: 1025px) and (max-width: 1280px) {
  .category-product-list {
    grid-template-columns: repeat(4, minmax(250px, 1fr));
  }
} */
