* {
  margin: 0;
  padding: 0;
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif ; */
  font-family: Roboto !important;
  /* background-color: var(--extra-light); */
  box-sizing: border-box;
}

:root {
  --primary-color: blue;
  --secondary-color: rgb(110, 110, 223);
  --danger: red;
  --success: green;
  --light: #e6eaed;
  --extra-light: #eef6fe;
}

@media screen and (max-width: 640px) {
  h1,
  h2,
  h3,
  p,
  span {
    font-size: smaller;
    padding: 3px 0px;
  }

  p {
    font-size: smaller !important;
  }

  button {
    font-size: smaller;
  }
}

@media screen and (min-width: 641px) and (max-width: 768px) {
  h1,
  h2,
  h3,
  p,
  span {
    font-size: smaller;
  }

  p {
    font-size: smaller !important;
  }
  span {
    font-size: smaller !important;
  }
  button {
    font-size: smaller;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  h1,
  h2,
  h3,
  p,
  span {
    font-size: medium;
  }
  p {
    font-size: medium !important;
  }
  button {
    font-size: medium;
    width: max-content !important;
  }
}

/* body {
  background-color: var(--extra-light);
} */

/* p {
  color: black !important;
} */

/* @media screen and (max-width: 640px) {
}

@media screen and (min-width: 641px) and (max-width: 768px) {
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
}
@media screen and (min-width: 1025px) and (max-width: 1280px) {
} */
